# Load balances across ALL pods
# Single endpoint: canopy-rpc.canopy:50002
apiVersion: v1
kind: Service
metadata:
  name: rpc-lb
  namespace: {{ .Values.namespace }}
spec:
  type: LoadBalancer
  selector:
    app: node
  ports:
    - name: rpc
      port: 50002
      targetPort: 50002
    - name: admin-rpc
      port: 50003
      targetPort: 50003
